extends layout

block content
  h1= title
  p Welcome to the index pug file
  button(type="button" class="btn btn-secondary" onclick="goFaster()") Press Me

  div#faster Increase the speed
  script.
    let mph = 20;
    let change = 1;
    function goFaster() {
      mph += change;
      change += 1;
      document.getElementById('faster').textContent = `MPH ${mph} with change ${change}`;
    }
  a(href = "/cuisine") Click Here to Visit cuisine Website